alembic
black
fastapi
fastapi[standard]
httpx
jose
mkdocs
mkdocs-material
mkdocstrings
mkdocstrings-python
passlib
plaid-python
plantuml-markdown
pytest
pytest-asyncio
python-dotenv
python-jose[cryptography]
python-ulid
ruff
slowapi
sqlmodel
typing
uuid
uvicorn[standard]