alembic
black
fastapi
fastapi[standard]
httpx
mkdocs
mkdocs-material
mkdocstrings
mkdocstrings-python
passlib
plaid_python
plantuml-markdown
pytest
pytest-asyncio
python-dotenv
python-ulid
ruff
slowapi
sqlmodel
typing
uuid
uvicorn